# 1 ejercicio

In [ ]:
def solicitud():
  primer_nombre = input("Ingrese su primer nombre: ")
  no1 = str("no")
  segundo_nombre = str(input("Ingrese su segundo nombre, si no tiene ponga no: "))
  primer_apellido = input("Ingrese su su primer appellido: ")
  segundo_apellido = input("Ingrese su asu segundo appellido: ")
  edad = input("ingrese su edad: ")
  dirección = input("ingrese su dirección de residencia: ")
  return f"Usted se llama {primer_nombre} {segundo_nombre}"

In [ ]:
solicitud()

Ingrese su primer nombre: adasd
Ingrese su segundo nombre, si no tiene ponga no: asdasd
Ingrese su su primer appellido: asd
Ingrese su asu segundo appellido: dasdas
ingrese su edad: das
ingrese su dirección de residencia: dsadasd

'Usted se llama adasd asdasd'

In [229]:
def solicitud():
  primer_nombre = input("Ingrese su primer nombre: ")
  segundo_nombre = str(input("Ingrese su segundo nombre, si no tiene ponga no: "))
  primer_apellido = str(input("Ingrese su su primer appellido, si no tiene ponga no: "))
  segundo_apellido = str(input("Ingrese su su segundo appellido, si no tiene ponga no: "))
  edad = input("ingrese su edad: ")
  d1 = str(input("ingrese su dirección de residencia, calle ponga no: "))
  d2 = str(input("ingrese su dirección de residencia, carrera ponga no: "))
  d3 = str(input("ingrese su dirección de residencia, si vive en apartamento, de lo contrario ponga no: "))
  no1 = str("no")
  if segundo_nombre == no1:
    print("Su información es" , primer_nombre , primer_apellido ,  segundo_apellido, edad)
  elif primer_apellido == no1:
    print("Su información es" , primer_nombre ,  segundo_apellido, edad)
  elif segundo_apellido == no1:
    print("Su información es" , primer_nombre  ,   edad)
  elif d1 == no1:
    print("Su información es" , primer_nombre  , edad, d2, d3 )
  elif d2 == no1:
    print("Su información es" , primer_nombre  , edad, d1, d3 )
  elif d3 == no1:
    print("Su información es" , primer_nombre   , edad, d2, d3 )
  else: 
    print("su informacion es: " , primer_nombre ,segundo_nombre, primer_apellido ,  segundo_apellido, edad, d1, d2, d3)
  return

In [231]:
solicitud()

Ingrese su primer nombre: andres
Ingrese su segundo nombre, si no tiene ponga no: no
Ingrese su su primer appellido, si no tiene ponga no: no
Ingrese su su segundo appellido, si no tiene ponga no: no
ingrese su edad: 21
ingrese su dirección de residencia, calle ponga no: no
ingrese su dirección de residencia, carrera ponga no: no
ingrese su dirección de residencia, si vive en apartamento, de lo contrario ponga no: no
Su información es andres no no 21

In [220]:
def solicitud():
  primer_nombre = input("Ingrese su primer nombre: ")
  segundo_nombre = str(input("Ingrese su segundo nombre, si no tiene ponga no: "))
  primer_apellido = str(input("Ingrese su su primer appellido ponga no: "))
  segundo_apellido = str(input("Ingrese su asu segundo appellido ponga no: "))
  edad = input("ingrese su edad: ")
  d1 = str(input("ingrese su dirección de residencia, calle ponga no: "))
  d2 = str(input("ingrese su dirección de residencia, carrera ponga no: "))
  d3 = str(input("ingrese su dirección de residencia, si vive en apartamento, de lo contrario ponga no: "))
  no1 = str("no")
  if segundo_nombre == no1 and primer_apellido == no1 and segundo_apellido == no1 and d1 == no1 and d2 == no1 and d3 == no1:
    print("Su información es: " , primer_nombre , primer_apellido ,  segundo_apellido, edad, d1, d2, d3 )
  else:
    print("Su información es: " , primer_nombre , segundo_nombre , primer_apellido ,  segundo_apellido, edad, d1, d2, d3 )

In [195]:
solicitud()

Ingrese su primer nombre: andres
Ingrese su segundo nombre, si no tiene ponga no: no
Ingrese su su primer appellido ponga no: no
Ingrese su asu segundo appellido ponga no: no
ingrese su edad: o
ingrese su dirección de residencia, calle ponga no: no
ingrese su dirección de residencia, carrera ponga no: no
ingrese su dirección de residencia, si vive en apartamento, de lo contrario ponga no: no
Su información es:  andres no no o no no no

In [196]:
def nombre():
  nombre = input("ingrese su nombre")
  print("Hola" , nombre)

In [ ]:
nombre()

ingrese su nombreandasdas
Hola andasdas

In [ ]:
def base():
  lado_1 = int(input("Ingrese un lado del cuadrado: "))
  lado_2 = int(input("Ingrese el otro lado del cuadrado: "))
  area = lado_1 * lado_2
  print("El area del cuadrado es: ", area)

In [ ]:
base()

Ingrese un lado del cuadrado: 4
Ingrese el otro lado del cuadrado: 4
El area del cuadrado es:  16

In [ ]:
def rectangulo():
  lado_1 = int(input("Ingrese un lado del cuadrado: "))
  lado_2 = int(input("Ingrese el otro lado del cuadrado: "))
  area = lado_1 * lado_2
  print("El area del rectangulo es : ", area)

In [ ]:
rectangulo()

Ingrese un lado del cuadrado: 1010
Ingrese el otro lado del cuadrado: 10
El area del rectangulo es :  10100

In [ ]:
def triangulo():
  base = int(input("Ingrese la base del renftangulo: "))
  altura = int(input("Ingrese el otro lado del cuadrado: "))
  area = ((base*altura)/2)
  print("El area del triangulo es: ", area)

In [ ]:
triangulo()

Ingrese la base del renftangulo: 10
Ingrese el otro lado del cuadrado: 10
El area del triangulo es:  50.0

In [5]:
print("asdas asdasdsa asdasda asdasd \n adsadasd \n asdsad")

asdas asdasdsa asdasda asdasd
 adsadasd
 asdsad

In [14]:
def reciclaje():
  b1 = int(1000)
  b2 = int(2000)
  b3 = int(3000)
  l1 = int(1)
  l2 = int(2)
  l3 = int(3)
  print("Lista de tamaño de botella y el dinero que recibira: \n 1) Por unidad de botella de 1 litro recibira: 1000 \n 2) Por unidad de botella de 1.5 litros recibira: 2000 \n 3) Por unidad de botella de 2 litro recibira: 3000 \n  ")
  ing = int(input("Por favor eliga un número de la lista que corresponda a la botella que va a reciclar: "))
  cad = int(input("cuantas botellas va a ingresar: "))
  if l1 == ing:
    print("Usted ingreso: " , cad ," botella(s) de 1 litro, su pago es: ", (b1*cad))
  elif l2 == ing:
    print("Usted ingreso: " , cad ," botella(s) de 1.5 litros, su pago es: ", (b2*cad))
  else:
    print("Usted ingreso: " , cad ," botella(s) de 2 litros, su pago es: ", (b3*cad))

In [15]:
reciclaje()

Lista de tamaño de botella y el dinero que recibira:
 1) Por unidad de botella de 1 litro recibira: 1000
 2) Por unidad de botella de 1.5 litros recibira: 2000
 3) Por unidad de botella de 2 litro recibira: 3000

Por favor eliga un número de la lista que corresponda a la botella que va a reciclar: 2
cuantas botellas va a ingresar: 3
Usted ingreso:  3  botella(s) de 1.5 litros, su pago es:  6000

In [ ]:
def comida():
  comida = int(input("ingrese el costo de su comida: "))
  propina = int(input("propina: "))
  iva = (comida*0.08)
  valor = iva + propina

  print("valor de su comida con el impuesto es: " , iva , " valor totar a pagar mas su propina es", valor)

In [ ]:
comida()

ingrese el costo de su comida: 1000
propina: 10
valor de su comida con el impuesto es:  80.0  valor totar a pagar mas su propina es 90.0

In [ ]:
def peso():
  peso_a = float(123)
  peso_b = float(35)
  a = int(input("Cuantos unidades del prducto a desea: "))
  b = int(input("Cuantos unidades del producto b desea: "))
  total = (((peso_a * a) + (peso_b * b)))
  if total%2 == 0:
    print("puede vender", total)
  else:
    print("Su peso total es: ", total , "pero no puede vender si la suma del peso no es par")

In [ ]:
peso()

Cuantos unidades del prducto a desea: 123
Cuantos unidades del producto b desea: 432
Su peso total es:  30249.0 pero no puede vender si la suma del peso no es par

In [ ]:
carro = float(70)
motos = float(42)
bicileta = float(10)
c1 = int(1)
m2 = int(2)
b3 = int(3)
parking = int(input("indique en que llego, si es carro marque 1, si es moto marque 2, si es bicilitea marque 3: "))
tiempo = int(input("cuanto tiempo estuvo: "))
if c1 == parking:
  print("Su valor total es: ", (tiempo*carro))
  dinero = int(input("ingrese la cantidad de dinero: "))
  print("Su cambio es: ", (dinero-(tiempo*carro)))
elif m2 == parking:
  print("su valor total es: ", (tiempo*motos))
  dinero = int(input("ingrese la cantidad de dinero: "))
  print("Su cambio es: ", (dinero-(tiempo*motos)))
else:
  print("su valor total", (tiempo*bicileta))
  dinero = int(input("ingrese la cantidad de dinero: "))
  print("Su cambio es: ", (dinero-(tiempo*bicileta)))

indique en que llego, si es carro marque 1, si es moto marque 2, si es bicilitea marque 3: 3
cuanto tiempo estuvo: 10
su valor total 100.0
ingrese la cantidad de dinero: 1000
Su valor total es:  900.0

In [19]:
def circulo():
  pi = float(3.1415927)
  r = float(input("Ingrese el radio del ciruclo para calcular el area y el perimitro: "))
  area = (pi *(r ** 2))
  peri = (2 * pi * r)
  print("el area del circulo es: ", area , " cm al cuadrado. \n Su perimitro es: ", peri)

In [20]:
circulo()

Ingrese el radio del ciruclo para calcular el area y el perimitro: 5
el area del circulo es:  78.5398175  cm al cuadrado.
 Su perimitro es:  31.415927

In [23]:
def cumplido():
  ano = int(input("En que año nacio: "))
  mes = int(input("En que mes nacio: "))
  dia = int(input("En que día nacion: "))
  ano1 = int(input("Ingrese el año actual: "))
  mes1 = int(input("Ingrese el mes actual: "))
  dia1 = int(input("Ingrese el día actual: "))
  print("Su edad actual es: ",  (ano1 - ano), "años, meses: ", (mes1 - mes), " y día: ",(dia1 - dia))

In [24]:
cumplido()

En que año nacio: 2000
En que mes nacio: 06
En que día nacion: 26
Ingrese el año actual: 2022
Ingrese el mes actual: 03
Ingrese el día actual: 24
Su edad actual es:  22 años, meses:  -3  y día:  -2

In [25]:
def grados():
  gc = int(input("Ingrese la temperatura atual en grados celcius para hacer la conversion a fahrenheit y en grados kelvin"))
  f = (( gc * 1.8) + 32)
  k = (gc + 273.15)
  print("Usted ingreso " , gc , "en grados celcius, la conersión es la siguiente: \n A Fahrenheit: ", f , "\n A Kelvin: " , k)

In [26]:
grados()

Ingrese la temperatura atual en grados celcius para hacer la conversion a fahrenheit y en grados kelvin30
Usted ingreso  30 en grados celcius, la conersión es la siguiente:
 A fahrenheit:  86.0
 a Kelvin:  303.15

In [45]:
def nume():
  mi_lista5 = [1 , 265, 23, 4, 15, 45, 7, 8, 9, 10]
  for i in mi_lista5:
    maximo = max(mi_lista5)
    minimo = min(mi_lista5)
    print(("El valor maximo de la lista es: ", maximo , "el valor minimo es: ", minimo ,""))

In [46]:
nume()

('El valor maximo de la lista es: ', 265, 'el valor minimo es: ', 1, '')
('El valor maximo de la lista es: ', 265, 'el valor minimo es: ', 1, '')
('El valor maximo de la lista es: ', 265, 'el valor minimo es: ', 1, '')
('El valor maximo de la lista es: ', 265, 'el valor minimo es: ', 1, '')
('El valor maximo de la lista es: ', 265, 'el valor minimo es: ', 1, '')
('El valor maximo de la lista es: ', 265, 'el valor minimo es: ', 1, '')
('El valor maximo de la lista es: ', 265, 'el valor minimo es: ', 1, '')
('El valor maximo de la lista es: ', 265, 'el valor minimo es: ', 1, '')
('El valor maximo de la lista es: ', 265, 'el valor minimo es: ', 1, '')
('El valor maximo de la lista es: ', 265, 'el valor minimo es: ', 1, '')

In [36]:
for i in range (1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [43]:
def lista1():
  for i in range (1,11,1):
    print(i)

In [44]:
lista1()

1
2
3
4
5
6
7
8
9
10

In [47]:
def nume():
  mi_lista5 = [1 , 265, 23, 4, 15, 45, 7, 8, 9, 10]
  maximo = max(mi_lista5)
  minimo = min(mi_lista5)
  print(("El valor maximo de la lista es: ", maximo , "el valor minimo es: ", minimo ,"suma de la lista: " , sum(mi_lista5)))

In [48]:
nume()

('El valor maximo de la lista es: ', 265, 'el valor minimo es: ', 1, 'suma de la lista: ', 387)

In [53]:
def nume1():
  lista = input("Ingrese dos numeros, porfavor con espacio: ")
  print(lista)
  lista1 = lista.split()
  print(lista1)
  lista1 = [int(i) for i in lista1]
  print(lista1)
  print(f"El valor maximo de la lista es: ", max(lista1) , "el valor minimo es: ", min(lista1) ,"suma de la lista: " , sum(lista1))

In [54]:
nume1()

Ingrese dos numeros, porfavor con espacio: 123123 534543 23131 9999999
123123 534543 23131 9999999
['123123', '534543', '23131', '9999999']
[123123, 534543, 23131, 9999999]
El valor maximo de la lista es:  9999999 el valor minimo es:  23131 suma de la lista:  10680796

In [58]:
u = str(input("Ingrese el mes para saber cuantos días tiene"))
if u == "enero":
  print(31)
elif u == "febrero":
  print(28)
elif u == "marzo":
  print(31)
elif u == "abril":
  print(30)
elif u == "mayo":
  print(31)
elif u == "junio":
  print(30)
elif u == "julio":
  print(31)
elif u == "agosto":
  print(31)
elif u == "septiembre":
  print(30)
elif u == "octubre":
  print(31)
elif u == "novienbre":
  print(30)
elif u == "diciembre":
  print(31)

Ingrese el mes para saber cuantos días tienefebrero
28

In [59]:
def edad():
  edad1 = int(input("ingrese su edad: "))
  if edad1 < 18:
    print("MENOR DE EDAD")
  elif edad1 >= 18 and edad1 < 45:
    print("MAYOR DE EDAD")
  elif edad1 >= 45 and edad1 < 60:
    print("ADULTOO")
  else:
    print("Adulto Mayoor")

In [62]:
edad()

ingrese su edad: 45
ADULTOO

In [67]:
def dinero():
  print("Lista actual de los billetes colombianos: \n 1) Billete de 2 mil\n 2) Billete de 5 mil \n 3) Billete de 10 mil \n 4) Billete de 20 mil \n 5) Billete de 50 mil \n 6) Billete de 100 mil")
  bi = str(input("Introduzca un billete y coloque el número correspondiente con el \n billete que recien ingreso: "))
  if bi == "1":
    print("En el anverso se aprecia la imagen de la artista Débora Arango")
  elif bi == "2":
    print("En el anverso se aprecia la imagen del poeta José Asunción Silva")
  elif bi == "3":
    print("En el anverso se aprecia la imagen de la antropóloga Virginia Gutiérrez")
  elif bi == "4":
    print("Este billete rinde homenaje al presidente de Colombia Alfonso López Michelsen")
  elif bi == "5":
    print("Este billete rinde homenaje al nobel de literatura Gabriel García Márquez")
  elif bi == "6":
    print("En el anverso se aprecia la imagen del presidente Carlos Lleras Restrepo")

In [68]:
dinero()

Lista actual de los billetes colombianos:
 1) Billete de 2 mil
 2) Billete de 5 mil
 3) Billete de 10 mil
 4) Billete de 20 mil
 5) Billete de 50 mil
 6) Billete de 100 mil
Introduzca un billete y coloque el número correspondiente con el
 billete que recien ingreso: 4
Este billete rinde homenaje al presidente de Colombia Alfonso López Michelsen

In [114]:
lista1 = [3, 5, 1, 9, 10, 11, 32, 21, 5, 1, 209, 432, 1, 32, 45]

In [115]:
lista1.append(10)

In [116]:
lista1

[3, 5, 1, 9, 10, 11, 32, 21, 5, 1, 209, 432, 1, 32, 45, 10]

In [117]:
lista1.append(3)

In [118]:
lista1

[3, 5, 1, 9, 10, 11, 32, 21, 5, 1, 209, 432, 1, 32, 45, 10, 3]

In [119]:
lista1.extend([5,6,7])

In [120]:
lista1

[3, 5, 1, 9, 10, 11, 32, 21, 5, 1, 209, 432, 1, 32, 45, 10, 3, 5, 6, 7]

In [121]:
lista1.remove(7)

In [122]:
lista1.sort()

In [123]:
lista1

[1, 1, 1, 3, 3, 5, 5, 5, 6, 9, 10, 10, 11, 21, 32, 32, 45, 209, 432]

In [124]:
lista1.remove(432)

In [125]:
lista1

[1, 1, 1, 3, 3, 5, 5, 5, 6, 9, 10, 10, 11, 21, 32, 32, 45, 209]

In [127]:
lista1.reverse()

In [128]:
lista1

[209, 45, 32, 32, 21, 11, 10, 10, 9, 6, 5, 5, 5, 3, 3, 1, 1, 1]

In [129]:
lista1.pop(10)

5

In [130]:
lista1

[209, 45, 32, 32, 21, 11, 10, 10, 9, 6, 5, 5, 3, 3, 1, 1, 1]

In [131]:
lista1.append(10)

In [132]:
lista1

[209, 45, 32, 32, 21, 11, 10, 10, 9, 6, 5, 5, 3, 3, 1, 1, 1, 10]

In [133]:
lista1.append(345)

In [134]:
lista1.append(1)

In [135]:
lista1

[209, 45, 32, 32, 21, 11, 10, 10, 9, 6, 5, 5, 3, 3, 1, 1, 1, 10, 345, 1]

In [136]:
lista1.pop(8)

9

In [137]:
lista1

[209, 45, 32, 32, 21, 11, 10, 10, 6, 5, 5, 3, 3, 1, 1, 1, 10, 345, 1]

In [138]:
lista1.reverse()

In [139]:
lista1

[1, 345, 10, 1, 1, 1, 3, 3, 5, 5, 6, 10, 10, 11, 21, 32, 32, 45, 209]

In [140]:
lista1.sort()

In [141]:
lista1

[1, 1, 1, 1, 3, 3, 5, 5, 6, 10, 10, 10, 11, 21, 32, 32, 45, 209, 345]

In [164]:
for i in lista1:
  if ((i % 2 == 0)**2):
    print(i**2)

36
100
100
100
1024
1024

In [173]:
for i in lista1:
  if i % 3 == 0:
    print(i**3)

27
27
216
9261
91125
41063625

In [174]:
lista1

[1, 1, 1, 1, 3, 3, 5, 5, 6, 10, 10, 10, 11, 21, 32, 32, 45, 209, 345]

In [175]:
lista1.remove(345)

In [176]:
lista1.remove(209)

In [177]:
lista1

[1, 1, 1, 1, 3, 3, 5, 5, 6, 10, 10, 10, 11, 21, 32, 32, 45]